@using Domain.ViewModels
@model LoginViewModel


@{
    ViewData["Title"] = "Login";
	Layout = "_Layout";
}
<div class="container my-4">
    <form asp-action="Login" method="post">

        <div class="mb-3">
            <label asp-for="Emial" class="form-label"></label>
            <input asp-for="Emial" class="form-control" />
            <span asp-validation-for="Emial" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
            }